<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sanjeevani AI</title>
    <link rel="stylesheet" href="/static/styles.css">


</head>
<body>   
    <header>
        <h1 id="main-title">Disaster Management System</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/ngos">NGOs</a></li>
                <li><a href="#prediction">Disaster Prediction</a></li>
                <li><a href="#monitoring">Monitoring</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section id="home">
            <h2>Welcome!</h2>
            <p style="text-align: center; width: 100%; margin: 0 auto;">This system helps manage disasters by connecting you with NGOs and providing disaster predictions.</p>
        </section>
        <div class="feature-buttons">
            <a href="/userLogin" class="feature-button">Distressed User Login</a>
            <a href="/orgLogin" class="feature-button">Organization Login</a>
        </div>
        <div>

        </div>
 <div>

 </div>     
        
        
    </main>

    <footer>
        <p>&copy; 2025 Sanjeevani AI</p>
    </footer>

    <script src="/static/index.js"></script>
</body>
</html>